<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsq.mapper.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.zsq.entity.Score" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cou_id" property="couId" jdbcType="VARCHAR" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="StudentScore" type="com.zsq.common.StudentScore">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="cou_name" property="couName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="cou_id" property="couId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cou_id, stu_id, score
  </sql>
  <select id="selectByLike" resultMap="StudentScore" parameterType="java.lang.String">
   SELECT stu.name,stu.stu_id,cs.cou_name,cs.score,cs.cou_id,cs.id
    FROM `student` stu
    LEFT JOIN(
    SELECT c.cou_name ,s.cou_id,s.stu_id,s.score,s.id
    FROM `course` c
    LEFT JOIN `score` s
    ON c.cou_id=s.cou_id
    ) cs ON cs.stu_id = stu.stu_id
    WHERE cs.score IS NOT NULL and stu.name LIKE "%"#{name,jdbcType=VARCHAR}"%"
  </select>
  <select id="queryBySCId" resultMap="StudentScore" parameterType="java.lang.String">
      SELECT stu.name,stu.stu_id,cs.cou_name,cs.score,cs.cou_id,cs.id
    FROM `student` stu
    LEFT JOIN(
    SELECT c.cou_name ,s.cou_id,s.stu_id,s.score,s.id
    FROM `course` c
    LEFT JOIN `score` s
    ON c.cou_id=s.cou_id
    ) cs ON cs.stu_id = stu.stu_id
    WHERE stu.stu_id=#{0} AND cs.cou_id=#{1}
  </select>
  <select id="queryStudentScore" resultMap="StudentScore">
  SELECT stu.name,stu.stu_id,cs.cou_name,cs.score,cs.cou_id,cs.id
    FROM `student` stu
    LEFT JOIN(
    SELECT c.cou_name ,s.cou_id,s.stu_id,s.score,s.id
    FROM `course` c
    LEFT JOIN `score` s
    ON c.cou_id=s.cou_id
    ) cs ON cs.stu_id = stu.stu_id
     WHERE cs.score IS NOT NULL
  </select>
  <select id="selectStudentScoreById" resultMap="StudentScore" parameterType="java.lang.Integer">
    SELECT stu.name,stu.stu_id,cs.cou_name,cs.score,cs.cou_id,cs.id
    FROM `student` stu
    LEFT JOIN(
    SELECT c.cou_name ,s.cou_id,s.stu_id,s.score,s.id
    FROM `course` c
    LEFT JOIN `score` s
    ON c.cou_id=s.cou_id
    ) cs ON cs.stu_id = stu.stu_id
    WHERE cs.score IS NOT NULL AND cs.id =#{id}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsq.entity.ScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsq.entity.ScoreExample" >
    delete from score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsq.entity.Score" >
    insert into score (id, cou_id, stu_id, 
      score)
    values (#{id,jdbcType=INTEGER}, #{couId,jdbcType=VARCHAR}, #{stuId,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zsq.entity.Score" >
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="couId != null" >
        cou_id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="couId != null" >
        #{couId,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsq.entity.ScoreExample" resultType="java.lang.Integer" >
    select count(*) from score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update score
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.couId != null" >
        cou_id = #{record.couId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuId != null" >
        stu_id = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update score
    set id = #{record.id,jdbcType=INTEGER},
      cou_id = #{record.couId,jdbcType=VARCHAR},
      stu_id = #{record.stuId,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsq.entity.Score" >
    update score
    <set >
      <if test="couId != null" >
        cou_id = #{couId,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsq.entity.Score" >
    update score
    set cou_id = #{couId,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>